*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pageHeader{
    height: 30vh;
    background-color: black;
    color: white;
    display: grid;
    place-items: center
}
.titleSection{
    padding: 10px;
    /* width: 80%; */
    display: grid;
    place-items: center;
}
.titleSection .divs{
    margin-top: 6px;
    border: solid white 0.5px;
}
.titleSection .div1{
    width: 80%;
}
.titleSection .div2{
    width: 60%;
}
h1{
    padding: 10px;
    border-bottom: solid white 1.5px;
}
button{
    border: solid whitesmoke 1.5px;
    position: absolute;
    margin-top: 10px;
    left: 41.5vw;
    padding: 5px;
    background: linear-gradient(to right, black, rgb(147, 142, 142), black);
    background-size: 200%;
    transition: 0.5s;
}
button a{
    color: white;
    text-decoration: none;
}
button:hover{
    background-position: right;
    transform: scale(1.2);
}
article{
    padding: 10%;
    margin-top: 20px;
}
article p{
    border-radius: 30px 0 30px 0;
    padding: 10%;
    border: solid black;
}
