*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos del Header */
.pageHeader{
    height: 30vh;
    background-color: black;
    color: white;
    display: grid;
    place-items: center
}
.titleSection{
    padding: 10px;
    /* width: 80%; */
    display: grid;
    place-items: center;
    justify-content: center;
}
.titleSection .divs{
    margin-top: 6px;
    border: solid white 0.5px;
}
.titleSection .div1{
    width: 80%;
}
.titleSection .div2{
    width: 60%;
}
h1{
    padding: 10px;
    border-bottom: solid white 1.5px;
}
header button{
    border: solid whitesmoke 1.5px;
    position: absolute;
    margin-top: 3%;
    left: 41.5vw;
    padding: 5px;
    background: linear-gradient(to right, black, rgb(147, 142, 142), black);
    background-size: 200%;
    transition: 0.5s;
}
button a{
    color: white;
    text-decoration: none;
}
button:hover{
    background-position: right;
    transform: scale(1.2);
}
article{
    padding: 10%;
    margin-top: 20px;
}
article p{
    border-radius: 30px 0 30px 0;
    padding: 10%;
    border: solid black;
}


/* Estilos de las cards */
main{
    padding: 100px 0px;
    display: grid;
    grid-template-columns: auto;
    place-items: center;
}
main div{
    margin-top: 10px;
    margin-bottom: 20px;
}
.card{
    width: 280px;
    height: 280px;
    background-size: contain;
    display:grid;
    place-items: center;
}

.menCard .card{
    background-image: url(./Imágenes/cardHombre.jpg);
}
.womenCard .card{
    background-image: url(./Imágenes/cardMujer.jpg);
    background-size: 98%;
}
.unisexCard .card{
    background-image: url(./Imágenes/cardUnisex.jpg);
    background-repeat: no-repeat;
    background-size: 115%;
}
.card-shade{
    position: absolute;
    width: 280px;
    height: 280px;
    background-color: black;
    opacity: 0.3;
}
.cardButton{
    width: 130px;
    height: 30px;
    border: none;
    color: whitesmoke;
    background: linear-gradient(to right, rgb(184, 182, 182), rgb(88, 84, 84), black);
    background-size: 250%;
    position: absolute;
    padding: 5px;
    border-radius: none;
    cursor: pointer;
    transition: 1s;
}
.cardButton:hover{
    font-weight: 700;
    background-position: right;
}


/* ESTILOS DEL FOOTER */
footer{
    padding: 20px 10px;
    background-color: rgb(245, 245, 245);
    display: grid;
    grid-template-columns: repeat(2, auto);
}
footer img{
    width: 120%;
}
footer .socialMedia_container ul li{
    margin-right: 10%;
    display: inline-block;
}

.telephonContainer{
    font-size: 14px;
    display: flex;
    justify-content: end;
}
/* Media querie para telefonos muy pequeños */
@media (max-width: 350px) {
    .telephonContainer{
        font-size: 12px;
        display: flex;
        justify-content: none;
    }   
}
@media (min-width: 630px) {
    
}
